*{
    margin: 0;
    padding: 0;
    text-align:center;
    
}
h2{
    color: #2b52a8;
    background-color: #7f92ba;
    width: 15rem;
    height: 05rem;
    margin-top: 5px;
    margin-left: 25px;
    border-radius: 25px;
    line-height: 5rem;
    box-shadow: 0px 5px 15px rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(57, 28, 162);
    font-size: 500%;
    padding-top: 150px;
    padding-bottom: 150px;
    line-height: 150px;

        
}




nav ul {
    position:absolute;
    left:300px;
    top: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 35px;
    margin-left: 35px;

}

nav ul li a {
    text-decoration: none;
    color: #10002b;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    transition: color 0.3s ease;
}
nav ul li p {
    text-decoration: none;
    color: #10002b;
    font-size: 25px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
   
}

nav ul li a:hover {
    text-decoration: none;
    color:white;
}

button{
    .signin{
        background-color: #724CF9;
        

    }
}

.active:active{
    color: #03045E;
    text-underline-offset:below;

}

.Webpage title{
            button{
                position:absolute;
                left: 700px;
                top:50px;
                background-color: #809BCE;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 15px;
                padding-bottom: 15px;
                border-radius: 20px;
                font-size: large;
                align-self: center;
            }
        
}
.back{
            button{
                position:absolute;
                left: 50px;
                top:50px;
                background-color: #809BCE;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 15px;
                padding-bottom: 15px;
                border-radius: 20px;
                font-size: large;
                cursor:pointer;

                
            }
       
}
.container{
    background-color: #ffffff;
    align-items: center;
    position: relative;
    left: 100px;
    width: 1300px;
    right:100px;
    border: 50px;
    top: 150px;
    border-radius: 10px;
    height: 500px;
    overflow-x: hidden;   /* Disable horizontal scroll */
    overflow-y: auto;     /* Enable vertical scroll */
    
    


}
.textcontainer{
    background-color: #ffffff;
    align-items: left;
    position: relative;
    left: 100px;
    width: 1300px;
    right:100px;
    border: 50px;
    top: 150px;
    border-radius: 10px;
    height: 500px;
}
.profile{
    display:inline-block;
    border-radius: 3%;
    box-shadow: 10px 10px 10px black;
    height: 295px;
    margin: 5px;
    border-style: dotted;
}
.status{
    display:inline-block;
    border-radius: 3%;
    box-shadow: 10px 10px 10px black;
    margin:5px;
    height: 295px;
    border-style: dotted;

}
.transaction{
    display:inline-block;
    border-radius: 3%;
    box-shadow: 10px 10px 10px black;
    margin: 5px;
    height: 295px;
    border-style: dotted;

}
.saving{
    display:inline-block;
    border-radius: 3%;
    box-shadow: 10px 10px 10px black;
    margin:4px;
    height: 295px;
    border-style: dotted;

}
.head{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
    text-align: left;
    line-height: 50px;
}
.in{
    border-color: #10002b;
    border-style: dotted;
}
.transactionf{
    margin-top: 10px;
    margin-right:10px;
    margin-left:10px;
    border-radius: 3%;
    box-shadow: 10px 10px 10px black;
    height: 595px;
    border-style: dotted;
}
.Visualization{
    margin-top:10px;
    margin-right:10px;
    margin-left:10px;
    border-radius: 3%;
    box-shadow: 10px 10px 10px black;
    height: 595px;
    border-style: dotted;
}
.heade{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 85px;

}